data
save
eecs-audio-data
.ipynb_checkpoints
__pycache__
WaveGan and SpecGAN/.ipynb_checkpoints
WaveGan and SpecGAN/eecs-audio-data
WaveGan and SpecGAN/save
WaveGan and SpecGAN/data
WaveGan and SpecGAN/data/utils/__pycache__